<img src="../../assets/Pizza.jpg" alt="Pizza" class="imagenPrincipal">

<div class="container">
    <app-card titulo="NUESTRO MENÚ!" descripcion="Mira nuestros deliciosos productos" imageUrl="../../assets/Menu.jpg">
    </app-card>

    <app-card titulo="ORDENA YÁ!" descripcion="Disfruta de nuestros productos"
        imageUrl="../../assets/Ordenar.jpg"></app-card>

    <app-card titulo="CALIFÍCA!" descripcion="Buena atención? Califica a nuestros meseros!"
        imageUrl="../../assets/Mesera.jpg">
    </app-card>
</div>