<section class="home">
    <div class="home-text">
        <h2>Restaurante</h2>
        <h1>DELIPIZZA</h1>
        <p>Consigue tu pedazo de felicidad</p>
        <button mat-raised-button color="primary" class="btn">Iniciar</button>
    </div>
</section>

<div class="container">
    <app-card titulo="NUESTRO MENÚ!" descripcion="Mira nuestros deliciosos productos" imageUrl="../../assets/Menu.jpg">
    </app-card>

    <app-card titulo="ORDENA YÁ!" descripcion="Haz tu pedido"
        imageUrl="../../assets/Pizza2.jpg"></app-card>

    <app-card titulo="CALIFÍCA!" descripcion="Buena atención? Califica a nuestros meseros!"
        imageUrl="../../assets/Mesera.jpg">
    </app-card>
</div>