<section class="home">
    <div class="home-text">
        <h2>Delipizza</h2>
        <h1>MENÚ</h1>
        <p>Mira nuestra variedad de productos</p>
        <button mat-raised-button color="primary" class="btn">Iniciar</button>
    </div>
</section>

<section class="container">
    <app-card-menu titulo="Pizza Clásica" descripcion="8 porciones. Sabor y frescura original. Peperoni y harto queso." imageUrl="../../assets/Pizza_Clasica.jpg" precio="6.99$"></app-card-menu>
    <app-card-menu titulo="Pizza Mariana" descripcion="8 porciones. Primavera, verano, otoño y primavera. Lo mejor de 4 mundos." imageUrl="../../assets/Mariana.jpg" precio="8.99"></app-card-menu>
</section>

<section class="container">
    <app-card-menu titulo="Pizza Napolinata" descripcion="8 porciones. Masa fina y elástica. Especialidad Tradicional Garantizada por la Unión Europea." imageUrl="../../assets/Napolitana.jpg" precio="7.99"></app-card-menu>
    <app-card-menu titulo="Pizza Margarita" descripcion="10 porciones. Doble masa, albahaca y sabor." imageUrl="../../assets/Margarita.jpg" precio="12.99"></app-card-menu>
</section>

<section class="container">
    <app-card-menu titulo="Pizza Queso" descripcion="10 porciones. El doble de sabor" imageUrl="../../assets/Extra_Queso.jpg" precio="10.99"></app-card-menu>
    <app-card-menu titulo="Pizza Vegana" descripcion="10 porciones. Pizza sin proteina. Puro vegetalZzZ." imageUrl="../../assets/Vegana.jpg" precio="5.99"></app-card-menu>
</section>