.example-card {
    background-color: black;
    color: white;
    max-width: 400px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
}

.example-header-image {
    background-image: url('../../assets/Res.jpg');
    background-size: cover;
}

.example-paragraph {
    font-size: 14px;
    color: #666;
}


.mat-card-image-container {
    overflow: hidden;
}

.mat-card-image {
    transition: transform 0.5s ease;
}

.mat-card:hover .mat-card-image {
    transform: scale(1.1);
}